<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>

    <main class="container mt-5">
      <div class="row">
        <% if (carritoCantidad > 0) { %>
        <div class="productsCart mb-5 col-md-8">
          <% carrito.forEach(producto => { %>
          <article class="productCart">
            <img src="<%= producto.img %>" alt="<%= producto.title %>" />
            <div class="d-flex flex-row justify-content-evenly align-items-center w-100">
              <div>
                <p>Cantidad</p>
                <p class="text-center"><%= producto.cantidad %></p>
              </div>
              <div>
                <p>Precio</p>
                <p>$ <%= producto.price %></p>
              </div>
              <div class="subtotal">
                <p>Subtotal</p>
                <p>$ <%= producto.price * producto.cantidad %></p>
              </div>
            </div>
            <i id="<%= producto.id %>" class="deleteBtn bx bxs-trash-alt"></i>
          </article>
          <% }) %>
        </div>
        <% } else { %>
        <div class="text-center mt-5">
          <i class="bx bxs-sad text-danger fs-1"></i>
          <p>No hay productos en el carrito.</p>
        </div>
        <% } %> <% if (carritoCantidad > 0) { %>
        <div class="cartProductsTotal col-md-4 flex-column align-items-center">
          <h4 class="border-bottom p-2">Resumen de compra</h4>

          <div class="d-flex flex-row justify-content-between w-50">
            <div class="resumeUno">
              <p>Productos</p>
              <p>Envio</p>
              <p>Total</p>
            </div>

            <div class="resumeDos">
              <p id="cantidad" class="text-center"><%=carritoCantidad%></p>
              <p id="shipment" class="text-center">
                <%= carritoCantidad > 3 ? 'Gratis' : '$ 10.000' %>
              </p>
              <b id="totalBuy" class="text-center"
                >$ <%= carrito.reduce((acc, prenda) => acc + prenda.price * prenda.cantidad, 0)
                %></b
              >
            </div>
          </div>

          <div class="cartButtons d-flex">
            <form action="/carrito/comprar" method="POST" class="w-100">
              <button id="buyCart" type="submit" class="btn btn-dark m-1">Comprar</button>
            </form>
            <form
              action="/carrito/eliminar?_method=DELETE"
              method="POST"
              class="w-100"
              onsubmit="return confirm('¿Estás seguro de que querés vaciar el carrito?')"
            >
              <button id="deleteCart" type="submit" class="btn btn-dark m-1">Vaciar</button>
            </form>
          </div>
        </div>
        <% } %>
      </div>
    </main>

    <%- include('../partials/footer') %> <%- include('../partials/wsp') %>
    <!-- <script src="/js/cart.js"></script> -->
    <!-- <script src="/js/products.js"></script> -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  </body>
</html>
