<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>

    <main>
      <div class="mt-5 mb-5 d-flex flex-column justify-content-center align-items-center container">
        <h1>Editar Producto</h1>
        <form
          action="/productos/dataEditProd/<%=product.id %>?_method=PUT"
          method="POST"
          enctype="multipart/form-data"
          id="editProductForm"
          class="row mt-4 w-50 d-flex align-items-center justify-content-center"
        >
          <div class="col-md-12 mb-3">
            <label for="name" class="form-label">Nombre del Producto</label>
            <input
              value="<%=product.title %>"
              placeholder="Ejemplo: Pantalon de Jean"
              type="text"
              class="form-control"
              id="name"
              name="name"
            />
          </div>
          <div class="col-md-12 mb-3">
            <label for="price" class="form-label">Precio</label>
            <input
              value="<%=product.price %>"
              placeholder="Ejemplo: $ 5000"
              type="number"
              class="form-control"
              id="price"
              name="price"
            />
          </div>
          <div class="col-md-12 mb-3">
            <label for="stock" class="form-label">Cantidad</label>
            <input
              value="<%=product.stock %>"
              placeholder="Ejemplo: 10"
              type="number"
              class="form-control"
              id="quantity"
              name="stock"
            />
          </div>
          <div class="col-md-12 mb-3">
            <label for="category" class="form-label">Categoria</label>
            <select name="category" id="category" class="form-select">
              <option value="camisetas" <%= product.ProductCategory.name === 'camisetas' ? 'selected' : '' %>>Camisetas</option>
              <option value="pantalones" <%= product.ProductCategory.name == "pantalones" ? 'selected' : '' %> >Pantalones</option>
              <option value="bermudas" <%=product.ProductCategory.name == "bermudas" ? 'selected' : '' %> >Bermudas</option>
              <option value="zapatillas" <%=product.ProductCategory.name == "zapatillas" ? 'selected' : '' %> >Zapatillas</option>
            </select>
          </div>
          <div class="col-md-12 mb-3">
            <label class="form-label" for="image">Foto de Producto</label>
            <input
              required
              class="form-control"
              type="file"
              id="image"
              name="image"
              accept="image/*" />
          </div>
          <div class="col-md-12 mb-3">
            <label for="size" class="form-label">Talle</label>
            <select name="size" id="size" class="form-select">
              
              <% product.sizes.forEach(size => { %>
              <option value=<%= size.size %> <%= size.size === 'S' ? 'selected' : '' %>>S</option>
              <option value=<%= size.size %> <%= size.size === 'M' ? 'selected' : '' %>>M</option>
              <option value=<%= size.size %> <%= size.size === 'L' ? 'selected' : '' %>>L</option>
              <option value=<%= size.size %> <%= size.size === 'XL' ? 'selected' : '' %>>XL</option>
          <% }) %>
              
            </select>
          </div>
          <div class="col-md-12 mb-3">
            <label for="description" class="form-label">Descripción</label>
            <textarea
              
              placeholder="Breve Descripción"
              type="text"
              rows="4"
              class="form-control"
              id="description"
              name="description"
            ><%=product.description %>
            </textarea
            >
          </div>
          <button type="submit" class="btn btn-dark w-25">Editar</button>
        </form>
      </div>
    </main>

    <%- include('../partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/editProduct.js"></script>
  </body>
</html>
