<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    

    <main class="main-product mb-5 animate__animated animate__slideInDown">
      <button
      id="filter-btn"
      class="filter-btns border-0 bg-dark-subtle">
      <div class="d-flex justify-content-center p-2">
        <i class="bx bx-filter-alt fs-3"></i>
        <h4 class="text-center ms-1">Filtrar</h4>
      </div>
      </button>
      <aside id="filter" class="border-end border-2">
          <form method="get" action="/productos">
            <h5>Tipo de Prenda</h5>
            <div>
              <input onchange="this.form.submit()" type="radio" name="categoria" value="camisetas" <%= (req.query.categoria === 'camisetas') ? 'checked' : '' %> />
              <label for="camisetas">Camisetas</label>
            </div>
            <div>
              <input onchange="this.form.submit()" type="radio" name="categoria" value="pantalones" <%= (req.query.categoria === 'pantalones') ? 'checked' : '' %> />
              <label for="pantalones">Pantalones</label>
            </div>
            <div>
              <input onchange="this.form.submit()" type="radio" name="categoria" value="bermudas" <%= (req.query.categoria === 'bermudas') ? 'checked' : '' %> />
              <label for="bermudas">Bermudas</label>
            </div>
            <div>
              <input onchange="this.form.submit()" type="radio" name="categoria" value="zapatillas" <%= (req.query.categoria === 'zapatillas') ? 'checked' : '' %> />
              <label for="zapatillas">Zapatillas</label>
            </div>
          </form>
      </aside>
      <div id="productsFiltered" class="product-filtered container">
          <% products.forEach(product => { %>
          <article class="product d-flex flex-column align-items-center p-3">
            <a class="d-flex flex-column align-items-center justify-content-center text-decoration-none text-black"
              href="/productos/detalle/<%= product.id %>">
              <% if(product.stock == 0) { %>
              <p class="text-danger fw-bold stock">Sin Stock</p>
              <%}%>
              <img src="<%= product.images[0].url %>" alt="<%= product.title %>">
              <div class="product-info d-flex flex-column justify-content-center align-items-center gap-1">
                <h6 class="text-center mt-2 mb-0"><%= product.title %></h6>
                <div class="d-flex flex-column justify-content-center align-items-center gap-1">
                  <p class="price m-0"><%= formatNumber(product.price)%></p>
                  <p class="quotes border border-danger border-1 p-1 text-danger text-center m-0"><b>3 x <%= formatNumber((product.price / 3).toFixed(2))  %> sin interés</b></p>
                </div>
              </div>
            </a>
          <div class="d-flex gap-2 mt-2">
            <%if(locals.lastUser && locals.lastUser.category == 'admin') {%>
            <a href="/productos/editar/<%= product.id %>">
              <button title="Editar Producto" id="btnEdit" title="Editar" class="btnAdmin bg-black text-white rounded-2 border-0">
              <i class='bx bxs-pencil'></i>
              </button>
            </a>
            <form class="formEliminarProducto" action="/productos/<%= product.id %>?_method=DELETE" method="POST" >
              <button title="Eliminar Producto" class="btnAdmin bg-danger text-white rounded-2 border-0" type="submit"><i class='bx bxs-trash'></i></button>
            </form>
            <%}%>
          </div>
          </article>
          <% }) %>
      </div>
    </main>

    <%- include('../partials/footer') %> <%- include('../partials/wsp') %>
    <script src="/js/products.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
      <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
  </body>
</html>
